@charset "gb2312";
/* CSS Document */
/*****************************************************
General tyle
*****************************************************/

input, select {font-size:12px;}
.input{background-color:#f7f3f7;border: 1px solid #666666;height:20;}

a:active {color: #000099; text-decoration: none;}
a:visited {color: #003366; text-decoration: none;}
a:link {color: #000099; text-decoration: none;} 
a:hover {color: #FF0000; text-decoration: underline;}

a.link:link {color: #0000cc; text-decoration: underline;} 
a.link:visited {color: #551a8b; text-decoration: underline;}
a.link:active {color: #FF0000; text-decoration: underline;}
a.link:hover {color: #0000cc; text-decoration: underline;}

a.link01:link {color: #551a8b; text-decoration: underline;} 
a.link01:visited {color: #551a8b; text-decoration: underline;}
a.link01:active {color: #FF0000; text-decoration: underline;}
a.link01:hover {color: #551a8b; text-decoration: underline;}

a.link02:active {color: #000000; text-decoration: none;}
a.link02:visited {color: #000000; text-decoration: none;}
a.link02:link {color: #000000; text-decoration: none;} 
a.link02:hover {color: #000000; text-decoration: underline;}

a.linkdot:link {color: #000099; text-decoration: none;} 
a.linkdot:visited {color: #660099; text-decoration: none;}
a.linkdot:active {color: #000099; text-decoration: none;}
a.linkdot:hover {color: #FF0000; text-decoration: none;}

a.linkwhite:link {color: #FFFFFFF; text-decoration: none;} 
a.linkwhite:visited {color: #FFFFFF; text-decoration: none;}
a.linkwhite:active {color: #FFFFFF; text-decoration: none;}
a.linkwhite:hover {color: #FFFFFF; text-decoration: underline;}

a.linkhighlight:link {color: #006600; text-decoration: underline;} 
a.linkhighlight:visited {color: #006600; text-decoration: underline;}
a.linkhighlight:active {color: #FF0000; text-decoration: underline;}
a.linkhighlight:hover {color: #FF0000; text-decoration: none;}

A.linkcat:link {text-decoration: none; color:#FF6600; font-size: 14.8px; line-height: 140%}
A.linkcat:visited {text-decoration:none; color:#FF6600;font-size: 14.8px; line-height: 140%}
A.linkcat:active {text-decoration: none; color: #FF6600;font-size: 14.8px; line-height: 140% }
A.linkcat:hover {text-decoration: underline; color: #FF6600;font-size: 14.8px; line-height: 140%}

a.td.thumbnail, a.td.thumbnail:link, a.td.thumbnail:visited, a.td.thumbnail:active {
        border: rgb(0, 0, 0) 1px solid;
        padding: 5px;
        width: 130px;
        display: block;
        background: rgb(255, 255, 255);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

a.td.thumbnail:hover            {
        border: rgb(170, 151, 128) 1px solid;
        padding: 5px;
        width: 130px;
        display: block;
        background: rgb(255, 255, 255);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

td {
	font-size: 12px;
}

.display {
        border: rgb(0, 0, 0) 1px solid;
        margin-top: 1em;
        background: rgb(0, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Shadow(color="#141414",Direction=135,Strength=5);
}

h1 { margin-bottom: 5px;}
h2 { font-size: 18px; margin-bottom: 1px; }

body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
    font-size: 12px;
    color: #000000;
    font-family: "宋体", SimSun, "细明体", MingLiU;
}

/*****************************************************
General Text
*****************************************************/

.text_a01 {color:#000000;}
.text_a02 {color:#FFFFFF;}
.text_a03 {color:#6B6D6B;}

.text_b01 {color:#FF0000;}
.text_b02 {color:#EF4F6B;}
.text_b03 {color:#FF5215;}
.text_b04 {color:#FFB61C;}
.text_b05 {color:#003399;}
.text_b06 {color:#2B6D86;}
.text_b07 {color:#669900;}
.text_b08 {color:#FF5595;}

.text_copyright_en {font-family: "Verdana", "Arial"; font-size:10px; line-height: 16px; color:#666666;}
.text_copyright_cn {font-size:12px; line-height: 16px; color:#666666;}

.text_subtitle {color:#ff6633; font-size:12px; line-height: 16px;}

/*****************************************************
General Link
*****************************************************/

.link_a01:link {text-decoration:none;color:#000000;}
.link_a01:visited {text-decoration:none;color:#000000;}
.link_a01:active {text-decoration:underline;color:#FF0000;}
.link_a01:hover {text-decoration:underline;color:#FF0000;}

.link_a02:link {text-decoration:none;color:#FFFFFF;}
.link_a02:visited {text-decoration:none;color:#FFFFFF;}
.link_a02:active {text-decoration:underline;color:#FFFFCC;}
.link_a02:hover {text-decoration:underline;color:#FFFFCC}

.link_a03:link {text-decoration:underline;color:#6B6D6B;}
.link_a03:visited {text-decoration:underline;color:#6B6D6B;}
.link_a03:active {text-decoration:none;color:#FF0000;}
.link_a03:hover {text-decoration:none;color:#FF0000;}

.link_b01:link {text-decoration:none;color:#FF0000;}
.link_b01:visited {text-decoration:none;color:#FF0000;}
.link_b01:active {text-decoration:underline;color:#FF5215;}
.link_b01:hover {text-decoration:underline;color:#FF5215;}

.link_b02:link {text-decoration:underline;color:#EF4F6B;}
.link_b02:visited {text-decoration:underline;color:#EF4F6B;}
.link_b02:active {text-decoration:none;color:#FF5215;}
.link_b02:hover {text-decoration:none;color:#FF5215;}

.link_b03:link {text-decoration:underline;color:#FF5215;}
.link_b03:visited {text-decoration:underline;color:#FF5215;}
.link_b03:active {text-decoration:none;color:#FF0000;}
.link_b03:hover {text-decoration:none;color:#FF0000;}

.link_b04:link {text-decoration:underline;color:#FFB61C;}
.link_b04:visited {text-decoration:underline;color:#FFB61C;}
.link_b04:active {text-decoration:none;color:#FF0000;}
.link_b04:hover {text-decoration:none;color:#FF0000;}

.link_b05:link {text-decoration:none;color:#003399;}
.link_b05:visited {text-decoration:none;color:#003399;}
.link_b05:active {text-decoration:underline;color:#FF5215;}
.link_b05:hover {text-decoration:underline;color:#FF5215;}

.link_b06:link {text-decoration:underline;color:#2B6D86;}
.link_b06:visited {text-decoration:underline;color:#2B6D86;}
.link_b06:active {text-decoration:none;color:#FF5215;}
.link_b06:hover {text-decoration:none;color:#FF5215;}

.link_b07:link {text-decoration:underline;color:#669900;}
.link_b07:visited {text-decoration:underline;color:#669900;}
.link_b07:active {text-decoration:none;color:#FF5215;}
.link_b07:hover {text-decoration:none;color:#FF5215;}

.link_b08:link {text-decoration:underline;color:#FF5595;}
.link_b08:visited {text-decoration:underline;color:#FF5595;}
.link_b08:active {text-decoration:none;color:#FFB61C;}
.link_b08:hover {text-decoration:none;color:#FFB61C;}

.link_menu_01:link {text-decoration:none;color:#EF4F6B;}
.link_menu_01:visited {text-decoration:none;color:#EF4F6B;}
.link_menu_01:active {text-decoration:none;color:#FF5215;}
.link_menu_01:hover {text-decoration:none;color:#FF5215;}

.link_menu_02:link {text-decoration:none;color:#474747;}
.link_menu_02:visited {text-decoration:none;color:#474747;}
.link_menu_02:active {text-decoration:none;color:#FF5215;}
.link_menu_02:hover {text-decoration:none;color:#FF5215;}

/*****************************************************
Background Color
*****************************************************/

.bg_a01 {background-color:#ADAAAD;}
.bg_a02 {background-color:#CCCCCC;}
.bg_a03 {background-color:#EEEEEE;}
.bg_a04 {background-color:#F5F5F5;}
.bg_a05 {background-color:#FFFFFF;}

.bg_b01 {background-color:#A21C33;}
.bg_b02 {background-color:#EF4F6B;}
.bg_b03 {background-color:#FA768D;}
.bg_b04 {background-color:#FBD4DB;}
.bg_b05 {background-color:#FDEEF1;}

.city td { font-family: Arial, Helvetica, sans-serif; font-size:85%; font-family:sans-serif; vertical-align: top; }

.sidetable {
	width: 150px; 
	border: 0px; 
	border-collapse: collapse;
	padding-top: 10px;
}

.sidetop {
	vertical-align: middle;
	background-image: url(http://www.zaijiame.com/p/browse.php?u=kBjdPciOKsDSQukM62NnpCIbnMYRdV3%2FkKcps9wRjxtKNKkEchIYsg%3D%3D&b=3&f=frame);
	color: black;
	height: 20px;
	text-align: center;
}

.sidemid {
	vertical-align: top;
	background-image: url(http://www.zaijiame.com/p/browse.php?u=kBjdPciOKsDSQukM62NnpCIbnMYRdV3%2FkKcps9wRjxtKLa8QchIYsg%3D%3D&b=3&f=frame);
	padding: 0px 5px 0px 5px;
}

.sidebot {
	height: 15x;
	background-image: url(http://www.zaijiame.com/p/browse.php?u=kBjdPciOKsDSQukM62NnpCIbnMYRdV3%2FkKcps9wRjxtKIqkAKBoc%2Bsgh6w%3D%3D&b=3&f=frame);
}

.sectiontable {
	border-style: solid;
	border-width: 1px;
	border-color:#cccccc;
}

.sectiontableside {
	border-style: solid;
	border-width: 1px;
	border-top-color:#cccccc;
	border-bottom-color:#ffffff;
	border-left-color:#cccccc;
	border-right-color:#cccccc;
}

.frame {
	border-style: solid;
	border-width: 1px;
	border-color:#000000
}

.border {
	border-style: solid;
	border-width: 2px;
	border-color:#6633cc
}

.btop {
	border-top:1px solid #999999;
}

.btop01 {
	border-top:1px solid #c4c4c4;
}

.bbottom {
	border-bottom:1px solid #999999;
}

.highlight {
	background-color:#000000:#e6ccff
}

.txtlarge {
	font-size:14px;
	line-height: 140%;
	letter-spacing:0px;
}

.txtmedium {
	line-height: 140%;
	font-size:13px;
}

.txtsmall {
	line-height: 140%;
	font-size:12px;
}

.en { font-family:"Verdana", "Arial"; font-size:9px; line-height: 16px} 
.date { font-family:"Arial", "Verdana"; font-size:12px; line-height: 16px} 

/* Sets up background image rules*/
.pagebg {
	background-attachment: scroll;
	background-repeat: repeat-y;
	background-position: center top;
}
.endbg {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center top;
}
.section2bg {
	background-attachment: scroll;
	background-repeat: repeat-y;
	background-position: left;
}
.alignbottombg{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;
}
.aligntopbg{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
}

.txtarea {
	height: 300px;
	width: 99%;
	SCROLLBAR-FACE-COLOR: #dedede;
	SCROLLBAR-HIGHLIGHT-COLOR: #dedede;
	SCROLLBAR-SHADOW-COLOR: #dedede;
	SCROLLBAR-3DLIGHT-COLOR:#ffffff;
	SCROLLBAR-TRACK-COLOR: #f7f7f7;
	SCROLLBAR-ARROW-COLOR: #333333;
	SCROLLBAR-DARKSHADOW-COLOR: #999999;
}

.txtarea2 {
	font-family: "Arial", "Helvetica", "sans-serif", "宋体";
	font-size: 9pt;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	height: 150px;
	width: 650px;
	border: 1px solid #CCCCCC;
	SCROLLBAR-FACE-COLOR: #dedede;
	SCROLLBAR-HIGHLIGHT-COLOR: #dedede;
	SCROLLBAR-SHADOW-COLOR: #dedede;
	SCROLLBAR-3DLIGHT-COLOR:#ffffff;
	SCROLLBAR-TRACK-COLOR: #f7f7f7;
	SCROLLBAR-ARROW-COLOR: #333333;
	SCROLLBAR-DARKSHADOW-COLOR: #999999;
}

.txtarea3 {
	font-family: "Arial", "Helvetica", "sans-serif", "宋体";
	font-size: 9pt;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	height: 100px;
	width: 99%;
	border: 1px solid #CCCCCC;
	SCROLLBAR-FACE-COLOR: #dedede;
	SCROLLBAR-HIGHLIGHT-COLOR: #dedede;
	SCROLLBAR-SHADOW-COLOR: #dedede;
	SCROLLBAR-3DLIGHT-COLOR:#ffffff;
	SCROLLBAR-TRACK-COLOR: #f7f7f7;
	SCROLLBAR-ARROW-COLOR: #333333;
	SCROLLBAR-DARKSHADOW-COLOR: #999999;
}

/* message box */
.messageBox {font-family: "宋体", SimSun, "细明体", MingLiU; font-size:14px;}
.messageStackError, .messageStackWarning {font-family: "宋体", SimSun, "细明体", MingLiU; font-size:14px; font-weight:bold; color: #FF0000}
.messageStackSuccess {font-family: "宋体", SimSun, "细明体", MingLiU; font-size:14px; background-color: #ffee00; }

.messageStack {
  margin: 5px;
  font-size: 14px;
  color: #FF0000;
  font-weight:bold;
  background-color: #FFFCF5;
  background-color: #FFFCF5;
  border-width: 1px;
  border-style: dotted;
}

/*! ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.micro,
.micro a {
    font-size: 8px;
    line-height: 9px;
    font-weight: bold;
    color: #333;
    text-transform:uppercase;
}
.microNB,
.microNB a {
    font-size: 8px;
    line-height: 9px;
    font-weight: normal;
    color: #333;
    text-transform:uppercase;
}
.microSelected,
.microSelected a {
    font-size: 8px;
    line-height: 9px;
    font-weight: bold;
    color: #000;
    text-transform:uppercase;
}
.microDisabled {
    font-size: 8px;
    line-height: 9px;
    font-weight: normal;
    color: #666;
    text-transform:uppercase;
}
.n2 .price {
    color: #900;
    font-size: 11px;
}
.bigPrice {
    color: #900;
    font-size: 20px;
}






.n2Pop {
    border: 1px outset #EEEDDD;
    background-color:#fff;
    position:absolute;
    z-index:200;
}
.n2PopStatic {
    border: 1px outset #555533;
    background-color:#fff;
    position:absolute;
    z-index:200;
}
.n2,
.n2 td {
    font-size: 11px;
    font-family: verdana;
}
.n2PopBody {
    background-color:#fff;
    border:3px solid #EFEDD4;
}
.n2 a,
.n2 a:visited,
.n2 a:hover,
.n2 a:active {
    color: #039;
    text-decoration:none;
    font-size: 11px;
    font-family: verdana;
}
.n2 a:hover {
    color: #c60;
    text-decoration:underline;
}
.local,
.internalLink {
}
.n2 .local a:hover {
    color: #c60;
    text-decoration:underline;
}
.n2 .internalLink a:hover {
    color: #c60;
    text-decoration:none;
    border-bottom:1px dashed #c60;
}
.n2 .highlight {
    color: #c60;
}
.whiteBG {
    background-color: #fff;
}
.n2 .highlightBar {
    background-color: #EBF3FC;
    padding: 3px;
}
.n2 .popTitle {
    color: #039;
    font-size: 0.8em;
    font-weight: bold;
    vertical-align:top;
}
.n2 .hand,
.n2 .clickable {
    cursor: pointer;
    cursor: hand; 
    color: #039;
}
.n2 .nohand {
    cursor:default;
}
.n2 .divider {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 3px;
}
.n2 .expandableVOuter {
    display: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.n2 .expandableVOuterVisible {
    overflow: hidden;
    position: relative;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.n2 .expandableHOuter {
    display: none;
    overflow: hidden;
    position: relative;
}
.n2 .expandableHOuterVisible {
    overflow: hidden;
    position: relative;
}
.n2 .expandableInner {
    position: relative;
}
.n2 .dialogBody {
    background-color: #D5E2F0;
    padding: 3px;
    color: #33669B;
}
.n2 .showcase {
    background-color: #fff;
    border: 1px inset;
    cursor:auto;
}
.n2 .popStaticTitle {
    background-color:#EFEDD4;
    height:18px;
    cursor:move;
}
.n2 .popSemiStaticTitle {
    background-color:#EFEDD4;
    height:18px;
    cursor:move;
}
.n2 .popTitle {
    color: #86875D;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 0px 0px 4px;
}
.n2 .showVerticalScrollbar {
    overflow:auto;
}
.n2 .showDualScrollbars {
    overflow:auto;
}
.n2 .summaryTitle {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
}
.n2 .expMenu div {
    padding: 4px;
    color: #039;
}
.n2 .expMenu .expMenuSelected a,
.n2 .expMenu .expMenuSelected a:hover,
.n2 .expMenu .expMenuSelected a:visited,
.n2 .expMenu .expMenuSelected a:active {
    font-weight: bold;
    color: #000;
}
.n2 .expMenu .expMenuSelected a:hover {
    font-weight: bold;
    text-decoration:none;
}
.n2 .expMenu .expMenuUnselected {
}
.n2 .expMenu .expMenuDisabled {
    color: #ccc;
}
.n2 .disabled{
    color: #ccc;
}
.n2 .checkIndent div {
    padding: 3px 5px 3px 16px;
    text-indent: -11px;
}
.n2ExpProdPane {
    background-color:#fff;
}
.n2ExpProdPaneTitle {
    font-size: 12px;
    font-weight: bold;
}
.animatedBox {
    position:absolute;
    visibility:hidden;
    border: 1px solid gray;
    background:white;
    z-index:220;
}
.animatedBoxHollow {
    position:absolute;
    visibility:hidden;
    border: 1px solid gray;
    z-index:220;
}
.n2Fadable {
  filter:alpha(opacity=100);  ;
}


.n2Reveal {
    position:absolute;
    visibility:visible;
    filter:alpha(opacity=100); 
    -moz-opacity:100%; 
    opacity:100%; 
}
.n2RevealContent {
    position:absolute;
    visibility:hidden;
    z-index:10;
    filter:alpha(opacity=0); 
    opacity:0; 
    -moz-opacity:0; 
}


.n2ac {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    border: 1px solid #ABAA7C;
    background-color:#fff;
    position:absolute;
}
.n2ac .nonSelected {
    background: #fff;
    cursor: pointer;
    cursor: hand; 
    color: #039;
    padding: 0 4px 0 4px;
}
.n2ac .selected {
    background: #EFEDD4;
    cursor: pointer;
    cursor: hand; 
    color: #039;
    padding: 0 4px 0 4px;
}
.n2ac .autoScrollbar {
    
    scrollbar-face-color: #D0CA90;
    scrollbar-highlight-color: #F6F6d9;
    scrollbar-shadow-color: #A99F47;
    scrollbar-3dlight-color: #D3C99F;
    scrollbar-arrow-color: 000000;
    scrollbar-track-color: #EFEDD4;
    scrollbar-darkshadow-color: #936300;
    overflow: auto;
}


.n2SliderHandle-horizontal {
    position:absolute;
    cursor:w-resize;
}
.n2SliderHandle-vertical {
    position:absolute;
    cursor:n-resize;
}
.n2SliderToolTip-horizontal {
    position:absolute;
    font-size: 11px;
    line-height: 12px;
    font-family:arial, helvetica, sans-serif;
    color: #000;
}
.n2SliderHandle-vertical {
    position:absolute;
    font-size: 8px;
    line-height: 9px;
    font-weight: bold;
    color: #000;
    text-transform:uppercase;
}
.n2Hand, .n2Clickable {
    cursor: pointer;
    cursor: hand; 
}


.n2ClickShield {
    position: absolute;
    z-index: 10;
    background-color: white;
    filter:alpha(opacity=40); 
    -moz-opacity: .4; 
    opacity: .4; 
}


.apparelTT {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: x-small;
    display: block;
    margin: 4px;
    margin-left: 3px;
}


.diags,
.diags td,
.diags th,
.diags ol,
.diags li,
.diags select,
.diags input,
.diags div,
.diags p {
    font-size: 11px;
    font-family: Verdana, sans-serif;
}
